* {
	box-sizing: border-box;
}

html, body, main {
	width: 100%;
	height: 100%;
	margin: 0;
}

html,body {
	overflow:hidden;
}

main {
	display: flex;
	flex-direction: row;
}

#editing {
	display: flex;
	flex-direction: column;
}

#output {
	display: flex;
}

#source {
	overflow: auto;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.container .name {
	margin-inline: 1em;
	margin-block: .2em;
	display: inline;
}

.container .content {
	flex-grow: 1;
	border: .3em inset;
}
